config RPMB
	tristate "RPMB partition interface"
	help
	  Unified RPMB partition interface for eMMC and UFS.
	  Provides interface for in kernel security controllers to
	  access RPMB partition.

	  If unsure, select N.

config TRAN_ENABLE_RPMB
    tristate "Enable tran rpmb"
    default n
    help
      enable tran rpmb

