
CONFIG_IR_LED_USE_VBAT_POWER=y
CONFIG_RC_CORE=y
CONFIG_LIRC=y
CONFIG_DISPLAYPORT_SUPPORT=y
CONFIG_TYPEC_DP_ALTMODE=y
CONFIG_CUSTOM_KERNEL_IMGSENSOR="imx890_mipi_raw s5kjn1sub_mipi_raw s5kjn5tele_mipi_raw s5kjn1wide_mipi_raw s5kjn5fake_mipi_raw"
CONFIG_CUSTOM_TRAN_CAM_MATERIAL_CODE="imx890_17201956 s5kjn1sub_17201907 s5kjn5tele_17201948 s5kjn1wide_17201912 s5kjn5fake_17201948"
CONFIG_MTK_PLATFORM="mt6897"
CONFIG_TRAN_PREISP=y
CONFIG_TRAN_SHUBOIS=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_CUSTOM_TRAN_PROJECT="tran_cm8"
CONFIG_MTK_FLASHLIGHT_PT=n
CONFIG_TRAN_ENABLE_RPMB=y

CONFIG_TRANSSION_DYNAMIC_BIND_CPU=y
CONFIG_TRANSSION_MCQ=y
CONFIG_TRANSSION_BLK_UAS=y
CONFIG_TRAN_DISABLE_RECORD_INFO=y
CONFIG_TRANSSION_BLK_PERF_OPT=y

CONFIG_TRAN_AI_KEY_SUPPORT=y

CONFIG_TRAN_TOSPANIC_DEBUG_SUPPORT=y
CONFIG_TRAN_SYSTEM_SERVER_LOAD=y
CONFIG_TRAN_HEALTH_TNE=y


CONFIG_TRAN_GET_BRIGHTNESS_LEVEL_SUPPORT=y
CONFIG_TRAN_CHARGER_POLL=y
CONFIG_TRAN_SAR_DEBUG=y
CONFIG_AW_ACCDET_PLUG_CAIL=y
CONFIG_AW_USB_PLUG_CAIL=y
CONFIG_MTK_TINYSYS_SCP_DEBUG_SUPPORT=y
CONFIG_SENSOR_GET_SCREEN_POWER_STATE=y
CONFIG_TRAN_GET_VREFRESH_SUPPORT=y

CONFIG_TRAN_HBM_THERMAL_CTL=y


CONFIG_TRANS_SCHED_SHARE=y

CONFIG_ZRAM_WRITEBACK=y
CONFIG_TRAN_MEMORY_FUSION2_2_SUPPORT=y

CONFIG_NET_SCH_INGRESS=y
CONFIG_NET_CLS_FW=y
CONFIG_NET_CLS_FLOW=y
CONFIG_NET_ACT_POLICE=y
CONFIG_NET_ACT_MIRRED=y
CONFIG_NET_ACT_IPT=y
CONFIG_NET_CLS_IND=y
CONFIG_IFB=y
CONFIG_SDCARD_FS=y
CONFIG_MTK_MD3_SUPPORT=0
CONFIG_MTK_C2K_LTE_MODE=0
CONFIG_MTK_VOW_MAX_PDK_NUMBER=1
CONFIG_MTK_VOW_BARGE_IN_SUPPORT=y
CONFIG_MTK_VOW_GVA_SUPPORT=y
CONFIG_MTK_WIFI_6G_SUPPORT=y

CONFIG_TRAN_ADSP_EE_TRACKING=y
