
CONFIG_IR_LED_USE_VBAT_POWER=y
CONFIG_RC_CORE=y
CONFIG_LIRC=y
CONFIG_DISPLAYPORT_SUPPORT=y
CONFIG_TYPEC_DP_ALTMODE=y
CONFIG_CUSTOM_KERNEL_IMGSENSOR="imx890_mipi_raw s5kjn1sub_mipi_raw s5kjn5tele_mipi_raw s5kjn1wide_mipi_raw s5kjn5fake_mipi_raw"
CONFIG_CUSTOM_TRAN_CAM_MATERIAL_CODE="imx890_17201871 s5kjn1sub_17201907 s5kjn5tele_17201860 s5kjn1wide_17201862 s5kjn5fake__17201917"
CONFIG_MTK_PLATFORM="mt6897"
CONFIG_TRAN_PREISP=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_CUSTOM_TRAN_PROJECT="tran_d8300evb"

CONFIG_TRAN_GET_BRIGHTNESS_LEVEL_SUPPORT=y
CONFIG_TRANS_SCHED_SHARE=y
