CONFIG_IR_LED_USE_VBAT_POWER=y
CONFIG_RC_CORE=y
CONFIG_LIRC=y
CONFIG_DISPLAYPORT_SUPPORT=y
CONFIG_TYPEC_DP_ALTMODE=y
CONFIG_CUSTOM_KERNEL_IMGSENSOR="imx890_mipi_raw hi3231qsub1_mipi_raw s5kjn1tele_mipi_raw hi3231qsub2_mipi_raw hi5022qwide_mipi_raw"
CONFIG_CUSTOM_TRAN_CAM_MATERIAL_CODE="imx890_17201871 hi3231qsub1_17201878 s5kjn1tele_17201860 hi3231qsub2_17201879 hi5022qwide_17201862"
CONFIG_MTK_PLATFORM="mt6989"
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_CUSTOM_TRAN_PROJECT="tran_d9300evb"
CONFIG_SMARTPA_RESETGPIO_CONNECT_AW95016=y
CONFIG_TRAN_GET_BRIGHTNESS_LEVEL_SUPPORT=y
