# Custom config for project
CONFIG_NFC=y
CONFIG_SEC_NFC_PRODUCT_N5=y
CONFIG_SEC_NFC_IF_I2C=y

CONFIG_AAC_HAPTIC_HV=m
CONFIG_FT8725_FHDP_DSI_VDO_TXD_BOE_144HZ_LJ7=m
CONFIG_MTK_AURISYS_PHONE_CALL_SUPPORT=m
CONFIG_MTK_LINE_HALL=m
CONFIG_MTK_VIDEO_AW36515=m
CONFIG_MTK_VIDEO_AWT36515=m
CONFIG_MTK_VIDEO_CW8722=m
CONFIG_MTK_VIDEO_OCP81375=m
CONFIG_MTK_VIDEO_OCP81378=m
CONFIG_MTK_VIDEO_SGM37864=m
CONFIG_NT37703A_FHDP_DSI_VDO_TM_TM_144HZ_CM7=m
CONFIG_NT37703A_FHDP_DSI_VDO_TM_TM_144HZ_KM10=m
CONFIG_NT37703A_FHDP_DSI_VDO_TM_TM_144HZ_LJ8K=m
CONFIG_NT37703A_FHDP_DSI_VDO_TM_TM_144HZ_X6856=m
CONFIG_NT37703A_FHDP_DSI_VDO_TM_TM_144HZ_X6870=m
CONFIG_NXP_NFC_SNXXX_DEVICE=m
CONFIG_REGULATOR_DIO8018_7CH_LDO_SUPPORT=m
CONFIG_REGULATOR_ET5904_4CH_LDO_SUPPORT=m
CONFIG_RM692J0_FHDP_DSI_CMD_DSC_BOE2_BOE_144HZ_LJ9=m
CONFIG_RM692J0_FHDP_DSI_CMD_DSC_BOE_BOE_144HZ_CM8=m
CONFIG_RM692J0_FHDP_DSI_CMD_DSC_BOE_BOE_144HZ_LJ9=m
CONFIG_SAMSUNG_NFC_DEVICE=m
CONFIG_SEC_NFC=m
CONFIG_SND_SMARTPA_AW883XX=m
CONFIG_SND_SOC_AW87XXX=m
CONFIG_SND_SOC_FS1589=m
CONFIG_SND_SOC_FS1599=m
CONFIG_SND_SOC_OCA72XXX=m
CONFIG_TD4160_HDP_DSI_VDO_TXD_INX_120HZ_X6857=m
CONFIG_TRANSSION_BLK=m
CONFIG_TRANSSION_CWB_API_SUPPORT=m
CONFIG_TRANSSION_DOZE_BRIGHTNESS_SUPPORT=m
CONFIG_TRANS_SCHED_FEATURE=m
CONFIG_TRAN_ALWAYS_NOTIFY_LCM_COLOR_MODE=m
CONFIG_TRAN_AUDIO_CONTROL=m
CONFIG_TRAN_AW95016=m
CONFIG_TRAN_AW9620X_SAR=m
CONFIG_TRAN_BLOCK=m
CONFIG_TRAN_CWB_SUPPORT=m
CONFIG_TRAN_DYNAMIC_WCG=m
CONFIG_TRAN_ELLIPTIC_ULTRASOUND_PROXIMITY=m
CONFIG_TRAN_FLIP_FOLD_TOUCH=m
CONFIG_TRAN_FOLD_TOUCH=m
CONFIG_TRAN_HALL_HOLSTER=m
CONFIG_TRAN_HR_SPO2=m
CONFIG_TRAN_LCD_AOD_ENTER_NOTIFY_SUPPORT=m
CONFIG_TRAN_LCM_FOCALTECH_NOTIFY_RECOVERY=m
CONFIG_TRAN_LHBM_NOTIFY_FINGERPRINT=m
CONFIG_TRAN_LOW_BATTERY_AGING=m
CONFIG_TRAN_NEW_ANIMATION_OS14=m
CONFIG_TRAN_PANEL_I2C_LCD_BIAS_SUPPORT=m
CONFIG_TRAN_PERFLOG=m
CONFIG_TRAN_SCHED_METRICS=m
CONFIG_TRAN_SCSI=m
CONFIG_TRAN_SD_TRAY_SUPPORTED=m
CONFIG_TRAN_SENSOR_DEBUG=m
CONFIG_TRAN_TKV_SUPPORTED=m
CONFIG_TRAN_UFS=m
CONFIG_USB_SWITCH_DIO1520=m
CONFIG_USB_SWITCH_HL1280=m
CONFIG_USB_SWITCH_SPLIT=m
CONFIG_USB_SWITCH_WAS4783C=m
CONFIG_VTDR6126A_FHDP1224X2720_DSI_VDO_TM_144HZ_LJ8=m
CONFIG_VTDR6126A_FHDP1224X2720_DSI_VDO_TM_144HZ_X6873=m
CONFIG_VTDR6126A_FHDP1224X2720_DSI_VDO_TM_144HZ_X6876=m
CONFIG_SND_SMARTPA_AW883XX=m
CONFIG_AWINIC_86224_LIGHT=m
CONFIG_TRAN_PREISP=y
