
CONFIG_TRAN_TOSPANIC_DEBUG_SUPPORT=y
CONFIG_TRAN_ENABLE_RPMB=y
CONFIG_TRAN_SYSTEM_SERVER_LOAD=y
CONFIG_TRAN_HEALTH_TNE=y
CONFIG_TRANS_SCHED_SHARE=y

CONFIG_TRAN_HBM_THERMAL_CTL=y
CONFIG_CUSTOM_KERNEL_IMGSENSOR="imx682_mipi_raw gc13a0ff_mipi_raw gc08a8wide_mipi_raw"
CONFIG_CUSTOM_TRAN_CAM_MATERIAL_CODE="imx682_17201926 gc13a0_17201930 gc08a8wide_17201942"
CONFIG_MTK_PLATFORM="mt6878"
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_CUSTOM_TRAN_PROJECT="tran_x6876"
CONFIG_MTK_FLASHLIGHT_PT=n
CONFIG_TRAN_GET_BRIGHTNESS_LEVEL_SUPPORT=y
CONFIG_IR_LED_USE_VBAT_POWER=y
CONFIG_RC_CORE=y
CONFIG_LIRC=y
CONFIG_MTK_TINYSYS_SCP_DEBUG_SUPPORT=y
CONFIG_TRAN_SAR_DEBUG=y
CONFIG_AW_USB_PLUG_CAIL=y
CONFIG_AW_ACCDET_PLUG_CAIL=y

CONFIG_NET_SCH_INGRESS=y
CONFIG_NET_CLS_FW=y
CONFIG_NET_CLS_FLOW=y
CONFIG_NET_ACT_POLICE=y
CONFIG_NET_ACT_MIRRED=y
CONFIG_NET_ACT_IPT=y
CONFIG_NET_CLS_IND=y
CONFIG_IFB=y
CONFIG_SDCARD_FS=y
CONFIG_MTK_MD3_SUPPORT=0
CONFIG_MTK_C2K_LTE_MODE=0
CONFIG_ZRAM_WRITEBACK=y
CONFIG_TRAN_MEMORY_FUSION2_2_SUPPORT=y

